NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5heXVzc3VhaGFlbGF2dG5zYXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNDMxMzksImV4cCI6MjA5NDYxOTEzOX0.iIXAi4_cbukdiLNUnQ5FHDJ8o4ZTj7NquILy2DjCfNk
NEXT_PUBLIC_SUPABASE_SUPERADMIN_EMAIL=superadmin@example.com

